.Editor-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 5vh;
    text-align: center;
    padding: 12px;
}

.hover-effect:hover {
    /* Add your desired hover effect styles here */
    /* For example, change the text color */
    color: red;
    /* or add a background color */
    background-color: yellow;
    /* or add a text shadow */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  
  table, thead, tbody {
    border: 1px solid black;
    border-collapse: collapse;
  }